body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(13, 60px);
  grid-template-rows: repeat(11, 60px);
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.cell::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: transparent;
  transform-origin: center;
}

.diag-up::before {
  background-color: black;
  width: 2px;
  height: 100%;
  transform: rotate(-45deg);
  left: 50%;
  top: 0;
}

.diag-down::before {
  background-color: black;
  width: 2px;
  height: 100%;
  transform: rotate(45deg);
  left: 50%;
  top: 0;
}

div.value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: none;
  background: repeating-linear-gradient(45deg, #f0f0f0, #f0f0f0 7px, #ffe298 7px, #ffe298 14px);
  cursor: not-allowed;
}

div.uneditable {
  display: flex;
  cursor: not-allowed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: none;
  background: repeating-linear-gradient(45deg, #cccccc, #e4e4e4 7px, #e9e9e9 7px, #e9e9e9 14px);
}

button {
  padding: 10px 15px;
  font-size: 16px;
}

.cell.one{
  background-color: #f39292
}

.cell.two{
  background-color: #FCD59B
}

.cell.three{
  background-color: #F8A993
}

.cell.four{
  background-color: #d8e7d7;
}

.cell.five{
  background-color: #9CC9AA;
}

.cell.six{
  background-color: #afd8e0
}

.cell.seven{
  background-color: #adb2c3;
}

.cell.eight{
  background-color: #776b7e;
}

.cell.nine{
  background-color: rgb(242, 168, 221);
}