body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
}

.puzzle-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  padding-right: 230px;
}

.buttons-row {
  margin-bottom: 30px;
}

.button-top{
  margin: 1px;
} .button-top:active{
  opacity: 0.8;
}


.row-labels {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 10px;
}

.row-label {
    width: 200px;
    height: 60px;
    display: flex;
    text-align: end;
    align-items: center;
    padding-left: 10px;
    font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-template-rows: repeat(11, 60px);
  gap: 5px;
  margin-bottom: 20px;
}

.cell {
  user-select: none;
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  box-sizing: border-box;
}

.cell.nulled{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 0 200px rgba(0, 0, 0, 0.5);
}

.cell::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: transparent;
  transform-origin: center;
}

.diag-up::before {
  background-color: black;
  width: 2px;
  height: 100%;
  transform: rotate(-45deg);
  left: 50%;
  top: 0;
}

.diag-down::before {
  background-color: black;
  width: 2px;
  height: 100%;
  transform: rotate(45deg);
  left: 50%;
  top: 0;
}

div.value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: none;
  background: repeating-linear-gradient(45deg, #f0f0f0, #f0f0f0 7px, #ffe298 7px, #ffe298 14px);
  cursor: not-allowed;
}

div.uneditable {
  display: flex;
  cursor: not-allowed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: none;
  background: repeating-linear-gradient(45deg, #cccccc, #e4e4e4 7px, #e9e9e9 7px, #e9e9e9 14px);
}

button {
  padding: 10px 15px;
  font-size: 16px;
}


.cell.one{
  background-color: #f39292
}
.cell.solid.one{
  background: repeating-linear-gradient(45deg, #848484, #848484 7px, #F39292 7px, #F39292 14px);
}

.cell.two{
  background-color: #FCD59B
}
.cell.solid.two{
  background: repeating-linear-gradient(45deg, #848484, #848484 7px, #FCD59B 7px, #FCD59B 14px);
}

.cell.three{
  background-color: #F8A993
} .cell.solid.three{
  background: repeating-linear-gradient(45deg, #848484, #848484 7px, #F8A993 7px, #F8A993 14px);
}

.cell.four{
  background-color: #d8e7d7;
} .cell.solid.cell.four{
  background: repeating-linear-gradient(45deg, #848484, #848484 7px, #D8E6D7 7px, #D8E6D7 14px);
}

.cell.five{
  background-color: #9CC9AA;
} .cell.solid.five{
  background: repeating-linear-gradient(45deg, #848484, #848484 7px, #9CC9AA 7px, #9CC9AA 14px);
}

.cell.six{
  background-color: #afd8e0
} .cell.solid.six{
  background: repeating-linear-gradient(45deg, #848484, #848484 7px, #AFD8E0 7px, #AFD8E0 14px);
}

.cell.seven{
  background-color: #adb2c3;
} .cell.solid.seven{
  background: repeating-linear-gradient(45deg, #848484, #848484 7px, #ADB2C2 7px, #ADB2C2 14px);
}

.cell.eight{
  background-color: #776b7e;
}

.cell.nine{
  background-color: rgb(242, 168, 221);
} 

.cell.text{
  display: flex;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  width: 200px;
  white-space: normal;
  z-index: 2;
}